body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #B4F8C8;
    height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    }

  #tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    padding: 2px;
    box-shadow: 1px 1px 10px;
    border-radius: 2px;
    pointer-events: none;
  }
  
  .overlay {
    position: absolute;
    pointer-events: none;
  }